.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* //////////////////////////////////////////////////////// */
:root {
  --border-rad-lg: 15px;
  --light-text: #fefefe;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

main {
  background-color: slategray;
  background-image: url("../src/components/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* chatbot elements */
.chatbot-container {
  background-color: #c8d8e6;
  width: 360px;
  min-height: 380px;
  border-radius: var(--border-rad-lg);
  padding: 1em;
}

.chatbot-container > * {
  padding: 0.5em;
}

.chatbot-header {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.logo {
  width: 160px;
}

.chatbot-conversation-container {
  height: 250px;
  overflow-y: scroll;
  margin: 1em 0;
}

/* stop ugly scroll bar on some browsers */
.chatbot-conversation-container::-webkit-scrollbar {
  display: none;
}

.speech {
  padding: 1em;
  max-width: 240px;
  /* color: var(--light-text); */
  color: var(--light-text);
  min-width: 90%;
  border-radius: var(--border-rad-lg);
  font-size: 1.07em;
}

.speech:first-child {
  margin-top: 0;
}

.speech-ai {
  background: #334959;
  color: var(--light-text);
  border-top-left-radius: 0;
  margin: 1.2em 1em 0 0;
  text-align: start;
}

.speech-human {
  background-color: antiquewhite;
  color: #282c34;
  border-top-left-radius: 0;
  margin: 1.2em 0em 1em 0;
}

.chatbot-input-container {
  display: flex;
  margin-top: 1em;
}

input[type="text"],
button {
  background-color: transparent;
  border: 1px solid #586e88;
  border-radius: var(--border-rad-lg);
  padding: 1em;
}

inputp[type="text"] {
  color: var(--light-text);
  width: 100%;
  border-right: 0;
  margin-top: 1em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: antiquewhite;
}

.send-btn-icon {
  width: 20px;
  display: block;
  background-color: antiquewhite;
}

/* text */
.sub-heading {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}
